<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Firebase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
  </head>
<script type="module">
// Import the functions you need from the SDKs you need
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-app.js";
import { collection } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-firestore.js";


// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBbatSwrVFFx9AGvZo1lzOMJI9nszhZi2I",
  authDomain: "node-firebase-4b459.firebaseapp.com",
  projectId: "node-firebase-4b459",
  storageBucket: "node-firebase-4b459.appspot.com",
  messagingSenderId: "874815464405",
  appId: "1:874815464405:web:987bccf1959226ffd0935c"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
</script>

  <body class="bg-dark">
    <!--script generado por firebase-->

      <div class="container p-4">
        <div class="row">
            {{{body}}}
        </div>
      </div>



</body>

</html>
