<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <h1>Bienvenido</h1>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <form action="/layoutsSignup"  >
        <button class="btn btn-primary btn-block">
          Registrarse
        </button>
        </form>
        <form action="/layoutslogin/"  >
        <button class="btn btn-primary btn-block">
          Iniciar Sesión
        </button>
        </form>
    </div>
  </div>
</div>
